<div style="text-align: center;">
    {% assign number_of_pics = product.metafields.custom.number_of_detail_pics %}
    {% assign product_name = product.title | append: "_detail"%}
    {% for i in (1..number_of_pics) %}
        <!-- Your code for each iteration (1, 2, 3, etc.) -->
        <p>Picture {{ i }}</p>
        <img src="{{ product_name | append i | append: '.jpg' | file_url }}" alt="Image Description">
    {% endfor %}
</div>

{% schema %}
{
    "name": "Custom section",
    "settings": [],
    "presets": [{"name": "Default custom section"}]
}
{% endschema %}