<h1>{{ product.title }}</h1>
<img src="{{ 'IMG_7910.jpg' | file_url }}" alt="Image Description">

{%  schema  %}  
{
    "name": "Custom section",
    "settings": [],
    "presets": [{"name": "Default custom section"}]

}
{% endschema %} 